*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#escape{
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 4px;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
#fn-keys{
  text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 0.2px;
    padding-inline: 4px;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
#normal{
  text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 3px;
    padding-inline: 4px;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
#shift{
  text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 3px;
    padding-inline: 5px;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
#ctrl{
  text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 3px;
    padding-inline: 2px;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
#pgkeys{text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 0.1px;
    padding-inline: 2px;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
#spacebar {
  text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    writing-mode: horizontal-tb !important;
    margin: 0em;
    padding-block: 3px;
    padding-inline: 75px;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;

}
.container{
  display: block;
  
  border:borderbox;
}









/*:root{
    --primary: rgb(31, 2, 15);
    --secondary: hsl(0, 0%, 100%);
    --alternative: rgba(219, 106, 202, 0.8);
    --awesomeColor: rgb(84, 47, 107);
    --otherColor: #f211f2;
}
  :is(.row class, .glow .wrapper, .all glow small .class, .fn keys, .keyboard,.left, .top, .main, .right, .arrows, .row class){
    display: flex;
  }

  .row small {
    justify-content: flex-end;
    margin-block: .5rem;
}
.class{
    justify-content: space-around;
    flex-wrap: wrap;
}

   .label{
    user-select: none;
    cursor: pointer;
    font-size: 32px;
    position: fixed;
    top: 4px;
    right: 4px;
   }
   



   
  #wrapper {
    background-color: var(--secondary);
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

